body{
    margin: 0;
    background:linear-gradient(to right, rgb(255, 94, 0), rgb(255, 251, 0))
}
.registration_form{
    background-color: rgb(255, 182, 98);
    border: 1px solid rgb(255, 182, 98);;
    border-radius: 30px;
    width: 50vw;
    height: 900px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    
}

div{
    margin-bottom: 40px;
}
input{
    outline: none;
    cursor: pointer;
}

input::placeholder{
    color: orangered;
}

.name_form{
    display: flex;
}

.name_form_label{
    display: flex;
    flex-direction: column;    
    width: 20vw;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 0px;

}

.name_form_label label{
    margin: 6px;
}

.name_form_input{
    display: flex;
    flex-direction: column;    
    width: 30vw;
    margin-bottom: 0px;
    
}

.name_form_input input{
    width: 15vw;
    height: 20px;
    margin: 5px;
    background-color: rgb(255, 252, 66);
    border: 2px solid orangered;
    border-radius: 10px;
}


.name_form input:focus{
    border: 3px solid orangered;
    box-shadow: 0 0 3px orangered;
}


.button{
    display: flex;
    flex-direction: column;

}

input:checked + label{
    color: orangered;;
}

.birthday input{
    background-color: yellow;
    border: 2px solid orangered;
    border-radius: 10px;
    
}

.button input{
    width: 100px;
    height: 30px;
    background-color: yellow;
    border: 1px solid orangered;
    border-radius: 20px;
}

.button input:hover{       
    background-color: rgb(255, 217, 0);
    border: 2px solid orangered;
}

.button input:focus{
    background-color: orangered;

}